.root {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1em;

  box-sizing: border-box;
}

.root > *,
.root > *:before,
.root > *:after {
  box-sizing: inherit;
}


.input {
  border-radius: 2px;
  border: 1px solid #e6eaed;
  display: block;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 0.25em;
  font-size: 1em;
  background: #fff;
  font-family: "citrixsans-regular", sans-serif;
  -webkit-appearance: none;
}

.input:focus {
  border: 1px solid #14568f;
  outline: none;
  background-color: #f8fdff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(19, 133, 229, 0.1);
  transition: all 0.2s ease-in;
}

.input[disabled] {
  background-color: #f3f6f7;
  cursor: not-allowed;
}

.input[required]:focus {
  border: 1px solid #fec57b;
  background-color: #fff9f2;
}

.description {
  font-size: 0.8em;
  color: #6e798b;
}
